$backgroundBlack: #090909;
$foregroundBlack: #1c1d1f;
$textWhite: #f4f6f8;
$mainBlue: #2350c7;
$lightBlue: #3d72dd;
$accentGrey: #c4c4c4;
$placeholderGrey: #696a6b;
$errorRed: #ff1b1c;
$warningOrange: #ff7f11;
